<a href="https://colab.research.google.com/github/Veena7580/Homework/blob/main/Assessment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Variable Swapping (Without a Third Variable)
Write a Python program to swap two numbers without using a third variable.



Example Input:
a = 5
b = 10
Expected Output:
a = 10
b = 5

In [32]:
# Input
a = 5
b = 10
# swapping a=b & b=a
a ,b = b, a
# Printing the variabe
print ("a =", a)
print ("b =", b)

a = 10
b = 5

# 2. Data Type Identification
Write a Python program that takes user input and prints its data type.
Example Input:
Enter a value: 3.14


Expected Output:
The data type of the input is: <class 'float'>

In [33]:
# Input
y = 3.14
# Printing the value
print(type(y))

<class 'float'>

# 3. Convert Decimal to Binary, Octal, and Hexadecimal
Write a Python program that converts a given decimal number into its binary, octal, and
hexadecimal equivalents.
Example Input:
num = 25


Expected Output:
Binary: 11001
Octal: 31
Hexadecimal: 19

In [34]:
# Input
num = 25
# Printing the value
print("Binary: ", bin(num))
print("Octal: ", oct(num))
print("Hexadecimal: ", hex(num))

Binary:  0b11001
Octal:  0o31
Hexadecimal:  0x19

# 4. Find the Largest of Three Numbers Using the Ternary Operator
Write a Python program to find the largest of three numbers using a ternary (conditional)
operator.
Example Input:
num1 = 12
num2 = 25
num3 = 18


Expected Output:
Largest number: 25

In [35]:
# Input
num1 = 12
num2 = 25
num3 = 18
# Used conditional operator
largest = max(num1, num2, num3)
# Printing the value
print ("largest number =", largest)

largest number = 25

# 5. Arithmetic Operations on Two User Inputs
Write a Python program that takes two numbers as input and performs addition, subtraction,
multiplication, division, and modulus operations. Print the results.
Example Input:
Enter first number: 15
Enter second number: 4


Expected Output:
Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Modulus: 3

In [36]:
# Input
num1 = 15
num2 = 4
# Printing the value
print ("Addition : ", num1+num2)
print ("Subtraction : ", num1-num2)
print ("Multiplication: ", num1*num2)
print ("Division: ", num1/num2)
print ("modulus :", num1%num2)

Addition :  19
Subtraction :  11
Multiplication:  60
Division:  3.75
modulus : 3