<a href="https://colab.research.google.com/github/Veena7580/Homework/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Variable Assignment:
# Write a Python program to store your name and age in two variables and print them.

# Variable assignment
name = "veena"
age = 25

# Printing the values
print("veena")
print("25")

veena
25

In [5]:
# Basic Arithmetic Operations:
# Write a Python program that takes two numbers as input and prints their sum, difference, product, and quotient.

# Assigning two numbers
num1 = 10
num2 = 5

# Performing arithmetic operations
sum_result = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

# Printing the results
print(sum_result)
print(difference)
print(product)
print(quotient)

15
5
50
2.0

In [7]:
# Number System Conversion:
# Write a Python program to convert a given decimal number to binary, octal, and hexadecimal.

# Given decimal number
decimal_number = 50

# Converting to different number systems
binary_number = bin(decimal_number)
octal_number = oct(decimal_number)
hexadecimal_number = hex(decimal_number)

# Printing the results
print("Decimal:", decimal_number)
print("Binary:", binary_number)
print("Octal:", octal_number)
print("Hexadecimal:", hexadecimal_number)

Decimal: 50
Binary: 0b110010
Octal: 0o62
Hexadecimal: 0x32

In [9]:
# Data Type Checking:
# Write a Python program that takes a user input and prints its data type.

# Given input (example with an integer, float, and string)
x = 42

# Checking the data type
print("The data type of the input is:", type(x))

# Testing with a float input
x = 42.5
print("The data type of the input is:", type(x))

# Testing with a string input
x = "Hello, World!"
print("The data type of the input is:", type(x))

The data type of the input is: <class 'int'>
The data type of the input is: <class 'float'>
The data type of the input is: <class 'str'>

In [12]:
# Swapping Variables:
# Write a Python program to swap the values of two variables without using a third variable.

# Given two variables
a = 10
b = 20

# Swapping values without using a third variable
a, b = b, a

# Printing the swapped values
print("a =", a)
print("b =", b)

a = 20
b = 10